Introduction_to_Computation_and_Programming_Using_Python_John_V_Guttag.pdf
6_0001/lectures/*
6_0002/lectures/*
6_0001/psets/ps0/
6_0001/psets/ps0/*
6_0001/psets/ps2/__pycache__/
6_0001/psets/ps3/__pycache__/
6_0001/psets/ps5/exceptions_tutorial.py
6_0001/psets/ps5/lect10-note.py
6_0001/psets/ps5/lect12-notes.py
6_0002/ps2/lect2notes.md
6_0002/ps1/hw_example.tex.orig
6_0002/ps2/lect3note.md
6_0002/ps2/lect3notes.py
6_0002/ps2/lectureGraphs.py
6_0002/ps2/sandbox.py
*.swp
*.log
*.pyc
*.aux
*.out
